@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --main-color: #0F7E43;
  --primary-color: #FFFFFF;
  --secondary-color: #241F20;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li{
  list-style: none;
}

img{
  width: 100%;
}

a{
  text-decoration: none;
}

html{
  height: 100%;
  scrollbar-width: thin;
  width: 100%;
}

body{
  --header-height: 60px;
  --sidenav-width: 80px;

  font-family: "Poppins", sans-serif;
  background-color: #D2D2D2; 
  overflow-x: hidden; 
  width: 100%;
}

section{
  position: relative;
  margin-top: var(--header-height);

  padding: 5%;
}

section.hide{
  display: none;
}

section.show{
  display: inline-block;
}


@media(width >= 700px){
  section{
    position: relative;
    width: 100%;
    margin-top: var(--header-height);
    padding-left: calc(var(--sidenav-width) + 20px);
    padding-right: 3%;

  }
}
