* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    --wrapper-max-width: 1280px;
    --wrapper-padding: 10%;

    width: min(var(--wrapper-max-width), 100% - var(--wrapper-padding));
    margin-inline: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.verification-box {
    background-color: #FFFFFF;
    padding: 2rem 2.5rem;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.verification-box h2 {
    color: #d9534f;
    margin-bottom: 1rem;
}

.verification-box p {
    margin-bottom: 2rem;
    line-height: 1.5;
    color: #333;
}

.verification-box button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.verification-box button:hover {
    background-color: #0056b3;
}

#client-name {
    font-weight: 600;
}

.upload-verification-form input {
    padding: .1rem .3rem;
    font-size: 16px;
}

.upload-verification-form h4 {
    text-align: left;
}

.button-container {
    display: flex;
    gap: .5rem;
    width: 100%;
    justify-content: flex-end;
    padding: .5rem 0;
}

.button-container button:nth-child(1) {
    background-color: var(--main-color);
}

.upload-verification-form.hide {
    display: none;
}

.button-container button:disabled {
    background-color: #8a8a8ace;
    color: #2b2b2bcb;
}