#appointments-section{
  position: relative;
}

.appointment-table-content{
  display: none;
}

.appointment-table-content.show{
  display: block;
}


/* search and add button  */
.appointments-section__search-and-add-btn{
  display: flex; /* default display:flex */
  gap: 10px;
  height: 33px;
  margin-left: 10px;
  margin-top: 28px;
}

.appointment-section__search{
  position: relative;
  border: 1.5px solid #555555;
  max-width: 300px;
  height: 100%;
  border-radius: 10px;
  padding: 4px 0;
}

.appointment-section__search-icon{
  --size: 19px;

  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  height: var(--size);
  width: var(--size);
  filter: brightness(0) saturate(0%) opacity(0.6);
  cursor: pointer;
}

.appointment-section__search-input{
  background-color: transparent;
  border: none;
  height: 100%;
  width: 88%;
  padding-left: 50px;
  color: black;
}

.appointment-section__search-input:focus {
  outline: none;
  box-shadow: none; 
}

.appointment-section__add-btn{
  height: 100%;
  padding: 0 30px;
  background-color: #2FC375;
  border: 1px solid #0c6a38;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

#appointments-section .filter-and-view-sched-container,
#appointments-section .view-btns-container{
  position: absolute;
  right: 55px;
  top: 20px;
  display: flex;
  gap: 8px;
  flex-direction: column;
}

#appointments-section .filter-apointments-status,
#appointments-section .view-navigate-btn{
  width: 220px;
  border-radius: 8px;
  padding: 10px 0;
  cursor: pointer;
}

#appointments-section .view-navigate-btn{
  border: 1px solid #0F7E43;
  background-color: #2FC375;
  color: white;
}

.view-navigate-btn.appointments-section__view-report-btn{
  position: absolute;
  right: 232px;
  top: 48.8px
}

.appointment-sorting{
  position: absolute;
  right: 290px;
  top: 67.5px;
  display: flex;
  gap: 15px;
  width: 205px;
  border-radius: 8px;
  padding: 10px 0;
  padding-left: 10px;
  border: 1px solid #0F7E43;
  background-color: #2FC375;
  color: white;
}

.appointment-sorting__label{
  font-weight: 600;
}

.appointment-sorting__select{
  border: none;
  width: 59.6%;
  cursor: pointer;
  background-color: transparent;
  color: rgb(61, 61, 61);
}
.appointment-sorting__select:focus{
  outline: none;
  border: none;
}

.filter-apointments-status{
  --color: black;
  --BGcolor: white;

  border: 1px solid var(--color);
  color: var(--color);
  background-color: var(--BGcolor);
  text-align: center;
}

.filter-apointments-status:focus{
  outline: var(--color);
}

.appointment-section__view-schedules-btn{
  border: 1px solid black;
}

.filter-apointments-status,
.appointment-section__view-schedules-btn{
  display: block;
}


/* appointments table */
.appointment-table {
  --elements-gap: 1.7rem;
  --firstname-width: 155px;
  --lastname-width: 155px;
  --appointment-name-width: 210px;
  --date-time-width: 210px;
  --status-width: 150px;
  --action-width: 150px;
  --view-width: 50px;

  display: block;
  position: relative;
  width: 100%;
  height: fit-content;
  min-height: 50px;
  max-height: 600px;
  background-color: white;
  border: none;
  border-radius: 8px;
  padding: 1rem;
  margin-top: 1.2rem;
  overflow: hidden;
  font-size: 0.9rem;
}

.appointment-table__thead {
  display: flex;
  gap: var(--elements-gap);
  margin-bottom: 1rem;
}

.appointment-table__tbody {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  overflow-y: scroll;
  scrollbar-width: thin;
  min-height: 50px;
  max-height: 425px;
  padding-bottom: 1rem;
  padding-bottom: 1rem;
}

.appointment-table__thead .th {
  font-weight: 500;
  text-align: center;
}

.appointment-table__tbody .td{
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  word-break: break-all;
}

.appointment-table__thead .th.first-name,
.appointment-table__tbody .td.first-name{
  width: var(--firstname-width);
  max-width: var(--firstname-width);
}
.appointment-table__thead .th.last-name,
.appointment-table__tbody .td.last-name{
  width: var(--lastname-width);
  max-width: var(--lastname-width);
}
.appointment-table__thead .th.appointment-name,
.appointment-table__tbody .td.appointment-name{
  width: var(--appointment-name-width);
  max-width: var(--appointment-name-width);
}
.appointment-table__thead .th.date-time,
.appointment-table__tbody .td.date-time {
  width: var(--date-time-width);
  max-width: var(--date-time-width);
}
.appointment-table__thead .th.status,
.appointment-table__tbody .td.status{
  width: var(--status-width);
  max-width: var(--status-width);
}

.appointment-table__tbody .td.status {
  border: 1px solid var(--color);
  color: var(--color);
  background-color: var(--BGcolor);
  border-radius: 20px;
  padding: 0.2rem 0;
}

/* Status: pending */
.appointment-table__tbody .td.status--pending {
  --color: rgb(37, 37, 37);
  --BGcolor: rgba(0, 0, 0, 0.19);
}

/* Status: ongoing */
.appointment-table__tbody .td.status--ongoing {
  --color: rgb(55, 119, 255);
  --BGcolor: rgba(73, 130, 254, 0.24);
}

/* Status: completed */
.appointment-table__tbody .td.status--completed {
  --color: rgb(0, 153, 71);
  --BGcolor: rgba(29, 255, 135, 0.13);
}

/* Status: reschedule */
.appointment-table__tbody .td.status--reschedule {
  --color: rgb(153, 115, 0);
  --BGcolor: rgba(255, 191, 0, 0.30);
}

/* Status: removed */
.appointment-table__tbody .td.status--removed {
  --color: rgb(210, 17, 17);
  --BGcolor: rgba(226, 35, 35, 0.21);
}

/* Status: default/fallback */
.appointment-table__tbody .td.status--default {
  --color: black;
  --BGcolor: white;
}


.appointment-table__thead .th.action,
.appointment-table__tbody .td.action {
  width: var(--action-width);
  max-width: var(--action-width);
}

/* action select */
.appointment-table__tbody .td.action .select-appointment-action{
  width: 100%;
  text-align: center;
  border-radius: 20px;
  padding: 0.2rem 0;
  padding-right: 0rem;
}

.appointment-table__thead .th.toggle-more-details-btn,
.appointment-table__tbody .td.toggle-more-details-btn{
  width: var(--view-width);
  max-width: var(--view-width);
}

.appointment-table__tbody .td.toggle-more-details-btn{
  color: #009947;
  text-decoration: underline;
  cursor: pointer;
  margin-left: 2rem;
}

.appointment-table__tbody .appointment{
  background-color: #D2D2D2;
  padding: 0.7rem 0;
  border-radius: 8px;
  text-transform: capitalize;
}

.appointment-table__tbody .appointment__details{
  display: flex;
  align-items: center;
  gap: var(--elements-gap);
}


/* appointment more details */
.appointment__more-details{
  display: none;
  position: relative;
  background-color: #d2d2d2cc;
  padding: 0 2rem;
  padding-top: 1.7rem;
  height: 19rem;
}

.appointment__more-details.show{
  display: block;
}

.appointment__more-details-heading {
  font-size: 1.25rem; /* 20px -> 1.25rem */
  font-weight: 700;
  color: #009947;
  margin-bottom: 1.2rem;
}

.appointment__more-details-columns {
  display: flex;
  column-gap: 13rem;
  margin-bottom: 2rem;
}

.appointment__more-details-columns .column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.column__detail-label {
  color: #009947;
  margin-right: 0.2rem;
}

.column__detail-value {
  color: rgba(0, 0, 0, 0.8);
}

.column__detail-value.email{
  text-transform: none;
}

/* appointment more details buttons */
.appointment__more-details .buttons-container{
  position: absolute;
  right: 50px;
  bottom: 30px;
  display: flex;
  gap: 0.7rem;
}

.appointment__more-details .btn{
  display: none;
  padding: 4px 30px;
  border-radius: 20px;
  cursor: pointer;
}

.appointment.status-ongoing .completed-btn,
.appointment.status-reschedule .set-schedule-btn{
  display: block;
  border: 1px solid #009947;
  background-color: #1dff8722;
  color: #009947;
}

.appointment.status-removed .restore-btn{
  display: block;
  border: 1px solid #7D7D7D;
  background-color: #B0AEAF;
  color: #1c1c1c;
}

.appointment.status-removed .delete-btn{
  display: block;
  border: 1px solid #990000;
  background-color: #F2A5A5;
  color: #990000;
}


/* Add appointent form container */
.add-appointment-container{
  display: none; 
  position: fixed;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 600px;
  background-color: white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  z-index: 1;
  padding: 20px 50px;
}

.add-appointment-container.show{
  display: block
}

.add-appointment-container__close-form-btn{
  position: absolute;
  right: 5%;
  top: 5%;
  font-size: 2rem;
  cursor: pointer;
  border: 2px solid red;
  border-radius: 50%;
  color: red;
  padding: 0px 5px;
}

.add-appointment-container__heading{
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 1.8rem;
}

/* add appointment form */
.add-appointments-form{
  position: relative;
  width: 100%;
  padding: 0 50px;
}

.add-appointments-form__heading{
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 0.5rem;
}

.add-appointments-form__heading.swine-info-heading{
  margin-top: 2rem;
}

.add-appointments-form .group{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
  margin-bottom: 1rem;
}

.add-appointments-form input,
.add-appointments-form select,
.add-appointments-form textarea{
  background-color: #13bb6153;
  border: none;
  font-size: 0.85rem;
  font-weight: 600;
  padding: 15px 10px;
  width: 100%;
  color: black
}

.add-appointments-form #appointment-date,
.add-appointments-form #appointment-time{
  width: 50%;
}

.add-appointments-form #swine-count{
  width: 50%;
}

.add-appointments-form input::placeholder,
.add-appointments-form select,
.add-appointments-form textarea::placeholder{
  color: rgba(23, 23, 23, 0.78);
  font-weight: 500;
}

.add-appointments-form textarea.swine-symptoms{
  margin-bottom: 1rem;
  height: 100px;
}

.add-appointments-form .submit-appointment-btn{
  position: absolute;
  right: 5%;
  bottom: -8%;
  color: var(--primary-color);
  background-color: #13BB61;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  padding: 10px 25px;
  cursor: pointer;
}

/* Appointment Schedule Form */
.appointment-schedule-form{
  display: none; 
  position: fixed;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #E8E8E8;
  border: 2px solid #3F3F3F;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  z-index: 999;
  padding: 1rem 2rem;
}

.appointment-schedule-form.show{
  display: block;
}

.appointment-schedule-form__heading{
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2.7rem;
}

.appointment-schedule-form__details-columns{
  display: flex;
  gap: 1.2rem;
}

.appointment-schedule-form__details-columns .column-left{
  flex: 0.7;
}

.appointment-schedule-form__details-columns .column-right{
  flex: 1;
}

.appointment-schedule-form input,
.appointment-schedule-form select,
.appointment-schedule-form textarea{
  width: 100%;
  margin-top: 0.2rem;
  margin-bottom: 0.8rem;
  padding: 0.8rem 0.5rem;
  font-size: 0.9rem;
}

.appointment-schedule-form textarea{
  height: 7rem;
}

.appointment-schedule-form label{
  color: #009947;
}

.appointment-schedule-form__buttons{
  display: flex;
  align-items: center;
  gap: 1.3rem;
  padding-left: 0.5rem;
}

.appointment-schedule-form__check-sched-btn{
  margin-right: auto;
  background-color: #B1AEAE;
  border: 1px solid #7D7D7D;
  border-radius: 8px;
  color: #232C27;
  padding: 0.5rem 1rem;
}

.appointment-schedule-form__confirm-btn,
.appointment-schedule-form__close-btn{
  height: 30px;
  width: 100px;
  border-radius: 8px;
  cursor: pointer;
}

.appointment-schedule-form__confirm-btn{
  background-color: #B0DDC5;
  border: 1px solid #009947;
  color: #232C27;
}

.appointment-schedule-form__close-btn{
  background-color: #EECDCD;
  border: 1px solid #FF0000;
  color: #FF0000;
}

/* Appointment Schedule Calendar Contents */
.appointment-schedule-content{
  display: none;
  padding-bottom: 10px;
}
.appointment-schedule-content.show{
  display: block;
}

.appointment-schedule-container{
  position: relative;
  background-color: white;
  border-radius: 5px;
  border: 2px solid #9A9A9A;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
  width: 100%;
  min-height: 300px;
  padding: 25px;
  margin-top: 64px;
}

.appointment-schedule-total-container{
  position: absolute;
  left: 25px;
  display: flex;
  gap: 30px;
  background-color: rgba(128, 128, 128, 0.292);
  border-radius: 5px;
  padding: 12px 20px;
}

.appointment-schedule-container__total{
  display: flex;
  align-items: center;
  gap: 12px;
}

.appointment-schedule-container__total.total-service-type{
  --color: #28ce78;
}
.appointment-schedule-container__total.total-visit-type{
  --color: #4397CC;
}

.appointment-schedule-container__total--label{
  font-size: 1.1rem;
  font-weight: 500;
  color: rgb(86, 86, 86);
}

.appointment-schedule-container__total--value{
  font-size: 2rem;
  font-weight: 600;
  color: var(--color);
}

.appointment-schedule-container__total--value .percent-value{
  font-size: 1.2rem;
}

.appointment-schedule-container__type-identifier-container{
  position: absolute;
  right: 50px;
  top: 40px;
  display: flex;
  align-items: center;
  gap: 40px
}

.appointment-schedule-container__type-identifier{
  display: flex;
  align-items: center;
  gap: 12px;
}

.appointment-schedule-container__type-identifier.service-type-identifier{
  --color: #28ce78;
}
.appointment-schedule-container__type-identifier.visit-type-identifier{
  --color: #4397CC;
}

.appointment-schedule-container__type-identifier--dot{
  --size: 10px;

  height: var(--size);
  width: var(--size);
  border-radius: 50%;
  background-color: var(--color);
}

.appointment-schedule-container__type-identifier--label{
  color: var(--color);
  font-weight: 500;
}

/* Schedule Calendar Container */
#appointment-schedule-calendar {
  position: relative;
  max-height: 580px;
  margin-top: 85px;
}

/* Target the scrollable container inside FullCalendar */
.fc-scroller {
  scrollbar-width: thin; 
  scrollbar-color: #aaa transparent;
}

.fc-scroller::-webkit-scrollbar {
  width: 6px; 
  height: 6px;
}

.fc-scroller::-webkit-scrollbar-thumb {
  background-color: #aaa;
  border-radius: 4px;
}

.fc-toolbar-title{
  padding-left: 130px;
}

/* Prev and Next Buttons Group */
.fc-button-group {
  position: absolute !important;
  left: 0px;
  display: flex;
  gap: 2px;
}


/* Day Header Cells (Sun, Mon, Tue...) */
.fc .fc-col-header-cell {
  outline: 1px solid #4e4e4e;
  outline-offset: -1px;
  background-color: black;
  color: white
}

/* Day Header Text Styling */
.fc-col-header-cell-cushion {
  font-weight: 600;
}

/* Body Cell */
.fc-scrollgrid-sync-inner {
  padding: 10px 0;
}

/* Day Cells (each date box) border */
.fc .fc-daygrid-day {
  border: 1px solid #3a3a3a;
}

/* Inner Frame of Day Cells */
.fc .fc-daygrid-day-frame {
  padding: 10px;
}

/* Date Number (1, 2, 3...) in day cell */
.fc-daygrid-day-number {
  font-weight: 600;
}

/*  Event Styling */
.fc-event {
  color: white;
  border-radius: 5px;
  border: none;
  padding: 5px;
  margin-bottom: 2px;
  cursor: pointer;
}


.fc .custom-event {
  display: flex !important;
  gap: 3px;
  justify-content: center !important;
  flex-direction: column !important;
  font-size: 0.8rem;
  width: 155px;
  padding: 8px 6px !important;
  border-radius: 3px;
  word-break: break-word;
  white-space: normal;
  overflow-wrap: break-word;
}

.fc .custom-event.appointment-type-visit{
  background-color: #208323 !important;
}
.fc .custom-event.appointment-type-visit{
  background-color: #1e6794 !important;
}

.fc .custom-event .label{
  font-weight: 600;
}


.fc-daygrid-event-dot{
  display: none;
}

/* Event Title Text */
.fc-event-title {
  font-size: 0.85rem;
}


/* Reports Contnent */
.appointment-section__report-contents{
  display: none;
}

.appointment-section__report-contents.show{
  display: block;
}



