#dashboard-section{
  --side-spacing: 30px;

  padding: 0;
  margin-left: 80px;
  background-color: white;
}

.dashboard{
  position: relative;
  width: 100%;
  height: fit-content;
  padding-bottom: 100px;
  z-index: 2;
}

.dashboard__background{
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url('./../../images-and-icons/images/veterenary-office.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.8;
  z-index: -1;
}

.dashboard__heading{
  color: rgb(255, 255, 255);
  padding-top: 20px;
  margin: 0;
  margin-left: var(--side-spacing);
  margin-bottom: 50px;
}

.dashboard__cards-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 25px;
  padding-left: 130px;
  padding-right: 100px;
  overflow: hidden;
}

.dashboard__card{
  position: relative;
  height: 200px;
  border: 1px solid #2FC375;
  background-color: white;
  border-radius: 3px;
  padding: 20px 16px;
  overflow: hidden;
}

.dashboard__card.total-card{
  grid-row: span 2;
  background-color: #0F7E43;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dashboard__card-icon{
  width: 50px;
  margin-bottom: 10px;
}

.dashboard__card-label{
  font-weight: 500;
  font-size: 1.2rem;
}

.dashboard__card-label--value{
  font-weight: 600;
  font-size: 1.3em;
}

.dashboard__card-progress-bar-container{
  position: relative;
  width: fit-content;
  margin-left: 35%;
  margin-top: 20px;
}

.dashboard__card-progress-bar{
  position: relative;
  width: 220px;
  height: 230px;
  background-color: rgb(167, 167, 167);
  border-radius: 50%;
  border: none;
  overflow: hidden;
}

.dashboard__card-progress-barOverflow{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 89%;
  height: 89%;
  border-radius: 50%;
  background-color: white;
}

.dashboard__card-progress-value{
  height: 100%;
  border: none;
}

.dashboard__card:nth-child(2) .dashboard__card-progress-value{
  background-color: #01ad51;
  width: 20%;
}
.dashboard__card:nth-child(3) .dashboard__card-progress-value{
  background-color: #424242;
  width: 30%;
}
.dashboard__card:nth-child(4) .dashboard__card-progress-value{
  background-color: #00a2ad;
  width: 60%;
}
.dashboard__card:nth-child(5) .dashboard__card-progress-value{
  background-color: #aeb101;
  width: 80%;
}

.dashboard__card-progress-slicer{
  position: absolute;
  left: 0px;
  right: 0px;
  height: 55%;
  bottom: 0;
  background-color: white;
  z-index: 10;
}

.dashboard__card-progress-txt{
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  z-index: 10;
}

.dashboard__card:nth-child(2) .dashboard__card-progress-txt{
  color: #01ad51;
}
.dashboard__card:nth-child(3) .dashboard__card-progress-txt{
  color: #424242;
}
.dashboard__card:nth-child(4) .dashboard__card-progress-txt{
  color: #00a2ad;
}
.dashboard__card:nth-child(5) .dashboard__card-progress-txt{
  color: #aeb101;
}

/* Ongoing Apointemts Table */
.ongoing-appointments-table-container{
  padding: 0 var(--side-spacing);
  padding-top: 17px;
  padding-bottom: 80px;
}

.ongoing-appointments-table-container__heading{
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 20px;
}

.ongoing-appointments-table{
  width: 100%;
}

.ongoing-appointments-table .appointment .appointment__details{
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #d2d2d2cc;
  border-radius: 3px;
  padding: 13px 50px;
  font-size: 0.9rem;
}

.ongoing-appointments-table .td.status{
  --color: #3777FF;
  --BGcolor: #4982fe3c;

  border: 1px solid var(--color);
  color: var(--color);
  background-color: var(--BGcolor);
  border-radius: 3px;
  padding: 4px 0;
  width: 120px;
}

.ongoing-appointments-table .td.action select{
  border-radius: 3px;
  background-color: transparent;
  width: 130px;
  padding: 2px 0;
  padding-left: 13px;
}

.td.toggle-more-details-btn{
  color: #009947;
  text-decoration: underline;
  cursor: pointer;
}

.ongoing-appointments-table .appointment__more-details{
  display: none;
  background-color: #d2d2d2cc;
  height: 19rem;
  padding: 0 50px;
  padding-top: 30px;
}


/* Less Stock Medicine Table */
.less-stock-medicine-table-container{
  padding: 0 var(--side-spacing);
  padding-top: 17px;
  padding-bottom: 20px;
}

.less-stock-medicine-table-container__heading{
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 20px;
}