.inventory-section__table-contents{
  display: none;
}
.inventory-section__table-contents.show{
  display: block;
}

#inventory-section .section__heading{
  margin-bottom: 20px;
}

/* search and add button  */
.inventory-section__search-and-add-btn{
  display: flex;
  gap: 10px;
  height: 33px;
  margin-bottom: 35px;
}

.inventory-section__search{
  position: relative;
  border: 1.5px solid #555555;
  max-width: 300px;
  height: 100%;
  border-radius: 10px;
  padding: 4px 0;
}

.inventory-section__search-icon{
  --size: 19px;

  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  height: var(--size);
  width: var(--size);
  filter: brightness(0) saturate(0%) opacity(0.6);
  cursor: pointer;
}

.inventory-section__search-input{
  background-color: transparent;
  border: none;
  height: 100%;
  width: 88%;
  padding-left: 50px;
  color: black;
}

.inventory-section__search-input:focus {
  outline: none;
  box-shadow: none; 
}

.inventory-section__add-btn{
  height: 100%;
  padding: 0 30px;
  background-color: #2FC375;
  border: 1px solid #0c6a38;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}


/* inventory sorting */
.inventory-sorting{
  position: absolute;
  right: 290px;
  top: 30px;
  display: flex;
  gap: 15px;
  width: 250px;
  border-radius: 8px;
  padding: 10px 0;
  padding-left: 10px;
  border: 1px solid #0F7E43;
  background-color: #2FC375;
  color: white;
}

.inventory-sorting__label{
  font-weight: 600;
}

.inventory-sorting__select{
  border: none;
  width: 65%;
  cursor: pointer;
  background-color: transparent;
  color: rgb(61, 61, 61);
}
.inventory-sorting__select:focus{
  outline: none;
  border: none;
}

/* inventory filter */
.filter-inventory-status{
   --color: black; 
  --BGcolor: white;

  border: 1px solid var(--color);
  color: var(--color);
  background-color: var(--BGcolor);
  text-align: center;
  position: absolute;
  right: 55px;
  top: 30px;
  width: 220px;
  border-radius: 8px;
  padding: 10px 0;
  cursor: pointer;
}

.filter-inventory-status:focus{
  outline: 1px solid var(--color);
  border: 1px solid var(--color);
}

.inventory-section__view-report-btn{
  position: absolute;
  right: 55px;
  top: 80px;
  width: 220px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px 0;
  cursor: pointer;
}

/*medicine form */
.medicine-form,
.add-item-form
{
  display: none;
  position: fixed;
  top: 52%;
  left: 53%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  gap: 17px;
  width: 25%;
  height: auto;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  z-index: 1;
  padding: 20px 50px;
  overflow: hidden;
}

.add-medicine-form.show{
  display: block;
}

.edit-medicine-form.show{
  display: block;
}


.medicine-form.show{
  display: flex;
}

.medicine-form__heading, 
.add-item-form__heading
{
  text-align: center;
  margin-bottom: 20px;
}

.medicine-form label,
.add-item-form label
{
  color: var(--main-color);
  font-weight: 500;
  width: 100%;
}

.medicine-form input, 
.add-item-form input
{
  padding: 6px;
  width: 100%;
  margin-top: 5px;
  border: 1px solid black;
}

.medicine-form__group{
  display: flex;
  gap: 10px;
}

.medicine-form__buttons-container,
.add-item-form__buttons-container,
.add-stock__buttons-container,
.edit-stock__buttons-container
{
  display: flex;
  width: 100%;
  gap: 15px;
}

.add-item-form__buttons-container {
  margin-top: 1rem;
}

.medicine-form__buttons-container button,
.add-item-form__buttons-container button,
.add-stock__buttons-container button,
.edit-stock__buttons-container button
{
  color: var(--color);
  background-color: var(--bg-color);
  border: 1px solid var(--color);
  width: 100%;
  padding: 5px 0;
  border-radius: 5px;
  cursor: pointer;
}

.medicine-form__buttons-container button.cancel-btn,
.add-item-form__buttons-container .add-item__cancel-btn,
.add-stock__buttons-container .add-stock__cancel-btn,
.edit-stock__buttons-container .edit-stock__cancel-btn
{
  --color: #FF0000;
  --bg-color: #EECDCD;
}

.medicine-form__buttons-container button.add-btn,
.medicine-form__buttons-container button.update-btn,
.add-item-form__buttons-container .add-item__add-btn,
.add-stock__buttons-container .add-stock__add-btn,
.edit-stock__buttons-container .edit-stock__add-btn
{
  --color: #009947;
  --bg-color: #B0DDC5;
}

/* Table container */
.inventory-table {
  --id: 150px;
  --medicine-name: 200px;
  --medicine-dosage: 90px;
  --quantity: 80px;
  --exp-date: 145px;
  --status: 150px;
  --created-date: 145px;
  --updated-date: 145px;
  --toggle-buttons-icon: 30px;
  --elements-gap: 1.5rem;

  display: flex;
  flex-direction: column;
  background-color: white;
  width: 100%;
  height: clamp(300px, 35vw, 750px);
  min-height: 50px;
  max-height: 758px;
  border-radius: 8px;
  overflow-y: hidden;
  font-size: 14.4px;
  text-align: center;
  padding: 20px 25px;
  gap: 0.5rem;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.276);
}

/* Gap for meds */
.inventory-table__thead,
.inventory-table__tbody .medicine{
  display: flex;
  gap: 8rem;
  cursor: pointer;
}

.inventory-table__thead{
  margin-bottom: 8px;
  padding: 0 20px;
}

.inventory-table__tbody{
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
}

.inventory-table__tbody .medicine{
  display: flex;
  background-color: rgba(128, 128, 128, 0.291);
  border-radius: 5px;
  padding: 18px 20px;
  overflow:visible;
}

.inventory-table__thead .th{
  font-weight: 500;
}

.inventory-table .th.id,
.inventory-table .td.id {
  width: var(--id);
}

.inventory-table .th.medicine-name,
.inventory-table .td.medicine-name
{
  width: var(--medicine-name);
}

.inventory-table .th.quantity,
.inventory-table .td.quantity
{
  width: var(--quantity);
}

.inventory-table .th.exp-date,
.inventory-table .td.exp-date {
  width: var(--exp-date);
}

.inventory-table .th.status,
.inventory-table .td.status {
  width: var(--status);
}

.inventory-table .td.status{
  --color: /* modify in js */; 
  --BGcolor: /* modify in js */;

  color: var(--color);
  background-color: var(--BGcolor);
  border: 1px solid var(--color);
  border-radius: 3px;
  padding: 3px 2px;
}

.inventory-table .th.created-date,
.inventory-table .td.created-date {
  width: var(--created-date);
}

.inventory-table .th.updated-date,
.inventory-table .td.updated-date {
  width: var(--updated-date);
}

.inventory-table__tbody .medicine .buttons-container{
  display: none;
  position: absolute;
  right: -15px;
  top: 15%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  border-radius: 10px;
  margin-top: 0.5rem;
  border: 2px solid #9A9A9A;
  width: fit-content;
  z-index: 10;
}

.inventory-table__tbody .medicine .buttons-container.show{
  display: flex;
}

.inventory-table__tbody .medicine .buttons-container button{
  display: none;
  color: black;
  border: none;
  padding: 3.1px 15px;
  background-color: #ECECEC;
  cursor: pointer;
  transition: 0.1s;
}

.inventory-table__tbody .medicine.status-in-stock #edit-btn,
.inventory-table__tbody .medicine.status-less-stock #edit-btn,
.inventory-table__tbody .medicine.status-out-of-stock #edit-btn,
.inventory-table__tbody .medicine.status-expired #edit-btn {
  display: block;
}

.inventory-table__tbody .medicine.status-in-stock #remove-btn,
.inventory-table__tbody .medicine.status-less-stock #remove-btn,
.inventory-table__tbody .medicine.status-out-of-stock #remove-btn,
.inventory-table__tbody .medicine.status-expired #remove-btn {
  display: block;
}

.inventory-table__tbody .medicine.status-removed #restore-btn{
  display: block;
}

.inventory-table__tbody .medicine.status-removed #delete-btn{
  display: block;
}


.inventory-table__tbody .medicine .buttons-container button:hover{
  background-color: #9A9A9A;
}

.inventory-table__tbody .medicine .buttons-container button:first-child{
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom: 1.6px solid #9A9A9A;;
}
.inventory-table__tbody .medicine .buttons-container button:nth-child(2){
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}


/* Reports Contnent */
.inventory-section__report-contents{
  display: none;
}

.inventory-section__report-contents.show{
  display: block;
}



/* 
  For Inventory table adding stocks
*/

.add-inventory-container__close-form-btn {
  position: absolute;
  right: 3%;
  top: 3%;
  font-size: 2rem;
  cursor: pointer;
  border: 2px solid red;
  border-radius: 50%;
  color: red;
  padding: 0px 5px;
}

.inventory-table__container {
  width: 65%;
  background-color: #ffffff;
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  font-size: 0.9rem;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.276);
  height: clamp(300px, 35vw, 750px);
  min-height: 200px;
  max-height: 758px;
  padding: 2rem;
  border-radius: 8px;
}

.inventory-table__container.show {
  display: block;
}

.inventory-table__container h2 {
  text-align: center;
}

.inventory-table__container table {
  width: 100%;
  margin-top: 3rem;
}

.inventory-table__container table,
.inventory-table__container th,
.inventory-table__container td {
  border: 1px solid black;
  border-collapse: collapse;
}

.inventory-table__container th,
.inventory-table__container td {
  padding: 8px 12px;
  text-align: center;
}

tbody tr td:last-child button {
  margin: 0 0.5rem;
  cursor: pointer;
  padding: .2rem .5rem;
  border-radius: 4px;
  border: 1.5px solid #747474;
}

.no-medicine p {
  font-size: 2rem;
  font-weight: 800;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #55555598;
}



.add-item-form.show{
  display: block;
}


.inventory-table__add-stock,
.inventory-table__edit-stock
 {
  background-color: #ffffff;
  border: 3px solid gray;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  width: 400px;
  font-size: 1.1rem;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  display: none;
}
.inventory-table__add-stock.show,
.inventory-table__edit-stock.show
 {
  display: block;
}

.inventory-table__add-stock h2, 
.inventory-table__edit-stock h2 
{
  text-align: center;
  margin-bottom: 2rem;
}

.inventory-table__add-stock input,
.inventory-table__edit-stock input
 {
  font-size: 1.1rem;
  padding: 6px;
  width: 100%;
  border: 1px solid #4b4b4b;
  margin-bottom: 1rem;
  border-radius: 4px;
}

.td.number-of-expired {
  color: red;
  font-weight: 600;
}

.expired-row {
  background-color: rgba(255, 0, 0, 0.1); /* light red background */
  color: #b00020; /* dark red text */
  font-weight: bold;
}
