#schedule-section{
  margin-left: 0;
  padding-left: 20px;
  padding-right: 20px;
}

#schedule-section .section__heading{
  margin-bottom: 30px;
}

#schedule-section #select-schedule-status{
  position: absolute;
  right: 20px;
  top: 70px;
  width: 120px;
  border-radius: 5px;
  padding: 7px 12px;
  cursor: pointer;
}

#schedule-section .schedule-list{
  display: grid;
  gap: 30px;
  margin-top: 10px;
}
#schedule-section .schedule-list.hide {
  display: none;
}

.schedule-list .schedule{
  display: flex;
  justify-content: space-between;
  gap: 14px;
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.200);
  border-radius: 5px;
  padding: 3%;
}

.schedule-list .schedule-info{
  display: flex;
  flex-direction: column;
}

.schedule-more-details{
  display: none;
}

.schedule-more-details.show{
  display: block;
  margin-top: 10px;
}

.schedule-list .schedule .detail{
  font-size: clamp(0.9rem, 3vw, 1rem) ;
  margin-bottom: 4px;
}

.schedule-list .schedule .detail-value{
  color: #065d2f;
}


.schedule .appointment-name{
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 15px;
  color: #065d2f;
  display: flex;
  gap: .5rem;
}

.appointment-name .appointment-monitoring {
  display: none;
  color: black;
  font-size: 1.1rem;
  font-style: italic;
}

.appointment-name .true {
  display: block;
}

.schedule__buttons-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.schedule__buttons-container button{
  cursor: pointer;
}

.schedule__toggle-complete-btn:disabled {
  font-size: clamp(0.8rem, 3vw, 1rem);
  color: white;
  border: none;
  border-radius: 5px;
  background: rgb(107, 107, 107);
  padding: 5px 15px;
}

.schedule__toggle-complete-btn{
  font-size: clamp(0.8rem, 3vw, 1rem);
  border: none;
  border-radius: 5px;
  background-color: #2FC375;
  color: white;
  border: 1px solid #0F7E43;
  padding: 5px 15px;
}

.schedule__toggle-complete-btn.active{
  background: var(--main-color);
}

.schedule__toggle-more-details-btn{
  font-size: clamp(0.8rem, 3vw, 0.9rem);
  border: none;
  font-weight: 600;
  background: none;
}

.detail.clinical-signs .detail-value {
  display: block;        /* ensure it behaves like a box */
  max-height: 200px;     /* prevent overflowing */
  overflow-y: auto;      /* scroll if too long */
  padding: 4px 8px;
  background: #f9f9f9;   /* light background */
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

.detail.clinical-signs .detail-value ul {
  margin: 0;
  
}

.detail.clinical-signs .detail-value li {
  margin-bottom: 4px;
  font-size: 0.95rem;
}


/* 
  filters for Task
*/

.filter-appointment__schedule {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}
.filter-appointment__schedule.hide {
  display: none;
}

.filter-btn__container {
  background-color: #0F7E43;
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 2px;
  border-radius: 8px;
  border: 1px solid #0F7E43;
  padding: 1px;
}

.filter-appointment__schedule button {
  position: relative;
  width: 200px;
  padding: 10px 0;
  cursor: pointer;
  border: 1px solid #0F7E43;
  background-color: #ffffff;
  color: #0F7E43;
}
.pending_schedule-btn {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.completed_schedule-btn {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.pending_schedule-btn.active {
  color: #ffffff;
  background-color: var(--main-color);
}
.completed_schedule-btn.active {
  color: #ffffff;
  background-color: var(--main-color);
}

.vet-task__count {
  position: absolute;
  top: -6px;  /* move upward */
  right: 1px; /* move to the right corner */
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: bold;
}


/* 
Set Veterinary Schedule Form
*/
.vet-schedule-form span {
  font-weight: 600;
}
.vet-schedule-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  border-radius: 8px;
  border: 1px solid black;
  background-color: #ffffff;
  z-index: 100;
  display: none;
  flex-direction: column;
  gap: 1rem;
  width: 400px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.vet-schedule-form.show {
  display: flex;
}

.vet-schedule-form h2 {
  text-align: center;
}
.vet-schedule-form label {
  font-weight: 600;
}
.schedule__input-field {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.schedule__input-field input,
.schedule__input-field textarea  {
  margin-bottom: .5rem;
  width: 100%;
  padding: .5rem 1rem;
  border: 1px solid #808080;
  border-radius: 4px;
}
.schedule__input-field textarea {
  height: 100px;
}

.schedule__btn-container {
  width: 100%;
  display: flex;
  gap: .5rem;
}
.schedule__btn-container button {
  width: 100%;
  padding: .2rem .5rem;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
}
.schedule__btn-container button:nth-child(1) {
  background-color: #7676ff;
  border: 1px solid #0f0fc5;
  color: #0f0fc5;
}
.schedule__btn-container button:nth-child(2),
.add-schedule-btn {
  background-color: #B0DDC5;
  border: 1px solid #009947;
  color: #232C27;
}
.add-schedule-btn {
  padding: .2rem .5rem;
  border-radius: 4px;
}


@media(width >= 600px){
  #schedule-section{
    --section-side-spacing: 120px;

    position: relative;
    margin-left: 80px;
    padding: 0 3rem;
    margin-top: var(--header-height);
  }

  #schedule-section #select-schedule-status{
    width: 150px;
    right: 3rem;
  }
}


@media(width >= 1000px){
  #schedule-section .schedule-list{
    grid-template-columns: 1fr 1fr;
    padding-bottom: 30px;
  }
  .schedule-list .schedule{
    padding: 20px 30px;
  }
}

@media (max-width: 400px) {
  .schedule-list {
    margin-left: .5rem;
  }
  .filter-appointment__schedule button {
    width: 150px;
  }
}