.service-section__show-add-service-form-btn{
  position: absolute;
  right: 55px;
  top: 20px;
  border: 1.5px solid #0F7E43;
  background-color: #2FC375;
  color: white;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
}


/* Services List */
.services-card-list{
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  background-color: white;
  height: clamp(300px, 35vw, 750px);
  max-height: 758px;
  border-radius: 7px;
  margin-top: 60px;
  padding: 20px 80px;
  overflow-y: scroll;
  scrollbar-width: thin;
  /* box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.276); */
}

.service-card{
  position: relative;
  display: flex;
  gap: 40px;
  background-color: #ffffff;
  border-radius: 7px;
  padding: 20px 50px;
  height: 250px;
  width: 100%;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.25);
}

.service-card__image,
.service-card__description{
  background-color: #2FC375;
  border-radius: 5px;
  height: 100%;
  padding: 15px 30px;
  text-align: justify;
}
.service-card__description {
  background-color: #ffffff;
}

.item-types {
  font-style: italic;
}

.service-card__image img{
  max-width: 100px;
  margin-bottom: 15px;
}

.service-card__label{
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  text-align: center;
}

.service-card__name-and-description{
  width: 100%;
}

.service-card__name{
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.service-card__description{
  --height: 145px;
  height: var(--height);
  max-height: var(--height);
  overflow-y: auto;
}
.service-title {
  display: flex;
  gap: .5rem;
  align-items: center; 
  height: 30px;   
  padding: 0 .5rem;  
}

.service-title h3 {
  margin: 0; /* remove default margin so it centers properly */
}
.service-title span {
  font-size: 1rem;
  font-weight: 600;
  color: #0F7E43;
}

.service-card__description--label{
  font-weight: 600;
}

.service-card__description--value{
  line-height: 1.5em;
}

.services-btn {
  position: absolute;
  top: 10px;
  right: 50px;
  display: flex;
  gap: .5rem;
}

.service-card__edit-btn, 
.service-card__delete-btn {
  
  border: none;
  background-color: #4154ff;
  color: white;
  border-radius: 3px;
  padding: 3px 25px;
  cursor: pointer;
}

.service-card__delete-btn {
  border: 1.3px solid #EB3636;
  background-color: #f05858;
}


/* Service Form */
.service-form{
  display: none;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px 50px;
  z-index: 100;
}

#add-service-form.show{
  display: flex
}

#edit-service-form.show{
  display: flex;
}

.service-form__heading{
  text-align: center;
  font-size: 1.7rem;
  margin-bottom: 3rem;
}

/* .service-form__upload-image-btn{
  border: 1px solid black;
  background: rgb(229, 229, 229);
  width: fit-content;
  text-align: center;
  padding: 15px 50px;
  border-radius: 5px;
  margin-bottom: 15px;
  cursor: pointer;
}

.service-form__upload-image-btn .image-upload-icon{
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.service-form__upload-image-btn .upload-label{
  word-spacing: 10rem;
} */

.service-form input, 
.service-form textarea{
  width: 100%;
  margin-top: 3px;
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid black;
}

.service-form textarea{
  height: 200px;
}

.service-form label .label-txt{
  font-weight: 600;
}

.service-form__buttons-container{
  display: flex;
  gap: 10px;
  margin-left: auto;
}

.service-form__buttons-container button{
  padding: 7px 0;
  width: 100px;
  font-weight: 600;
  color: var(--color);
  border: 1px solid var(--color);
  background-color: var(--bg-color);
  border-radius: 3px;
  cursor: pointer;
}

.service-form__cancel-btn{
  --color: #EB3636;
  --bg-color: #FCBBBB;
}

.service-form__create-btn, 
.service-form__save-btn{
  --color: #0F7E43;
  --bg-color: #97e9bd;
}




.service-medicine-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: Arial, sans-serif;
}

.service-medicine-list .list-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 8px; /* space between each checkbox */
}

.checkbox-item {
  display: flex;
  align-items: center; /* align checkbox and label vertically */
  gap: 8px;
}

.checkbox-item input[type="checkbox"] {
  width: 16px;
  height: 16px;
  margin: 0; /* remove default spacing */
}

.checkbox-item label {
  cursor: pointer;
  user-select: none;
}

.service-type, .service-with__clinical-signs {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.service-type .radio-group, 
.service-with__clinical-signs .radio-group {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.service-type span,
.service-with__clinical-signs span {
  font-weight: 600;
}

.no-service-card {
  width: 100%;
  text-align: center;
  max-width: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.no-service__header {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 1rem;
  color: #555555;
}
.no-service__ds {
  font-size: 1.1rem;
  font-weight: 600;
  color: #3d3d3d;
}