#setting-section{
  font-size: 0.9rem;
}

#setting-section .section__heading{
  margin-bottom: 12px;
}

#setting-form{
  width: 100%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
  padding: 20px 35px;
}

.setting-form__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 15px;
}

.setting-form__header-heading{
  font-size: 1.3rem;
  font-weight: 600;
}

.setting-form__header-btns-container{
  display: flex;
  gap: 10px
}

.setting-form__header button{
  display: none;
  font-weight: 600;
  height: 35px;
  width: 85px;
  cursor: pointer;
  border-radius: 5px;
  color: white;
}

.setting-form__header-edit-btn.show{
  display: block;
  border: 1px solid #ff0011;
  background: #fe7a9b;
}

.setting-form__header-cancel-btn.show{
  display: block;
  border: 1px solid #ff0011;
  background: #fe7a9b;
}

.setting-form__header-save-btn.show{
  display: block;
  border: 1px solid var(--main-color);
  background: #5ed082;
}


.setting-form .admin-image img{
  --size: 60px;

  height: var(--size);
  width: var(--size);
  border-radius: 50%;
  border: 1.5px solid rgb(26, 26, 26);
}

.setting-form .admin-image__upload-btn{
  --color: #787878;

  display: none;
  cursor: pointer;
  color: var(--color);
  border: 1px solid var(--color);
  border-radius: 4px;
  padding: 2px 10px;
}

.setting-form .admin-image__upload-btn.show{
  display: inline-block;
}

.admin-image__upload-btn i{
  font-size: 15px;
  margin-right: 5px;
}

.setting-form__details-list{
  display: flex;
  flex-direction: column;
  padding: 0 50px;
}

.setting-form__details-list .detail{
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.282);
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.setting-form__details-list .detail:first-child{
  padding-bottom: 15px;
}

.setting-form__details-list .admin-detail-label{
  font-weight: 600;
  margin-bottom: 3px;
}

.setting-form__details-list .admin-detail-value{
  border: none;
  font-size: clamp(0.7rem, 3.4vw, 0.87rem);
  font-weight: 500;
  width: 35%;
  padding: 3px;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.643);
}

.setting-form__details-list .admin-detail-value:focus{
  outline: none;
  box-shadow: none; 
  border: none;
}

.setting-form__details-list .admin-detail-value.editable{
  border: 1px solid black;
}

.setting-form__details-list .admin-detail-value.editable:focus{
  outline: 1px solid black;
  border: 1px solid black;
}

/* kapag mas mababa sa 600px ang screen */
@media (width <= 600px) {
  #setting-section{
    margin-left: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  #setting-form{
    padding: 20px 15px;
  }

  .setting-form__header{
    padding-right: 0rem;
  }

  .setting-form__details-list{
    padding: 0px;
  }

  .setting-form__details-list .admin-detail-value{
    width: 100%;
  }
}