#setting-section{
  display: block;
  font-size: 0.9rem;
}

#setting-section .section__heading{
  margin-bottom: 15px;
}

.settings-container{
  width: 100%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
  padding: 25px 35px;
}

.settings-container__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 15px;
}

.settings-container__header-heading{
  font-size: 1.3rem;
  font-weight: 600;
}

.settings-container__header-logout-btn{
  border: 1px solid #FF0046;
  border-radius: 5px;
  background: #fe7a9d;
  color: white;
  font-weight: 600;
  padding: 8px 25px;
  cursor: pointer;
}

.settings-container .admin-image img{
  --size: 70px;

  height: var(--size);
  width: var(--size);
  border-radius: 50%;
  border: 1.5px solid rgb(26, 26, 26);
}

.settings-container .admin-image__upload-btn{
  --color: #787878;

  cursor: pointer;
  color: var(--color);
  border: 1px solid var(--color);
  border-radius: 4px;
  padding: 3px 7px;
}

.settings-container__details-list{
  display: flex;
  flex-direction: column;
  padding: 0 50px;
}

.settings-container__details-list .detail{
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.282);
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.settings-container__details-list .detail-label{
  font-weight: 600;
  margin-bottom: 3px;
}

.settings-container__details-list input.detail-value{
  border: none;
  font-size: 0.87rem;
  width: 25%;
}

.settings-container__details-list input.detail-value:focus{
  outline: none;
  box-shadow: none; 
  border: none;
}


.settings-container__details-list .edit-btn{
  --color: #787878;

  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  border-radius: 3px;
  cursor: pointer;
  color: var(--color);
  border: 1px solid var(--color);
  cursor: pointer;
  margin-right: 10px;
  padding: 3px 6px 2px 9px;
}


.settings-container__admin-photo--img{
  height: 100%;
  border-radius: inherit;
}

.settings-container__admin-photo--input-img-icon{
  position: absolute;
  bottom: -5px;
  right: 12px;
  font-size: 1.1rem;
  color: rgb(17, 17, 17);
  cursor: pointer;
}

.settings-container__edit-btn{
  height: fit-content;
  padding: 4px 15px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.settings-container__edit-btn--icon{
  color: rgba(0, 0, 0, 0.8);
}

.settings-container__detail{
  border-bottom: 1px solid rgba(0, 0, 0, 0.282);
  color: rgba(0, 0, 0, 0.8);
  padding-bottom: 5px;
}

.settings-container__detail-label{
  font-weight: 600;
  margin-bottom: 2px;
}

.settings-container__detail-value.edit-mode{
  width: 50%;
  border: 1px solid rgba(0, 0, 0, 0.64);
  border-radius: 5px;
}

.settings-container__buttons{
  display: none;
  gap: 10px;
  position: absolute;
  right: 28px;
  bottom: 13px;
}

.settings-container__buttons button{
  border-radius: 5px;
  border: none;
  color: white;
  padding: 7px 10px;
  cursor: pointer;
}

.settings-container__save-btn{
  background-color: var(--main-color);
}

.settings-container__cancel-btn{
  background-color: red;
}