.swines-section__table-contents{
  display: none;
}
.swines-section__table-contents.show{
  display: block;
}


/* swines search */
.swines-section__search{
  position: relative;
  border: 1.5px solid #555555;
  background-color: white;
  max-width: 300px;
  height: 100%;
  border-radius: 10px;
  padding: 4px 0;
  margin-top: 35px;
}

.swines-section__search-icon{
  --size: 19px;

  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  height: var(--size);
  width: var(--size);
  filter: brightness(0) saturate(0%) opacity(0.6);
  cursor: pointer;
}

.swines-section__search-input{
  background-color: transparent;
  border: none;
  height: 100%;
  width: 88%;
  padding-left: 50px;
  color: black;
}

.swines-section__search-input:focus {
  outline: none;
  box-shadow: none; 
}


/* swines filter */
#swines-section .filter-swines{
  position: absolute;
  right: 55px;
  top: 30px;

  width: 220px;
  border-radius: 8px;
  border: 1px solid black;
  color: var(--color);
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
}

.filter-swines:focus{
  outline: 1px solid black;
}


.swines-section__buttons-container{
  position: absolute;
  right: 55px;
  top: 80px;
  display: flex;
  gap: 13px
}

.swines-section__buttons-container button{
  width: 220px;
  border-radius: 8px;
  border: none;
  background-color: #4154ff;
  color: white;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
}

.swines-table {
  --elements-gap: 1.3rem;
  --type-width: 130px;
  --breed-width: 130px;
  --age-width: 130px;
  --sex-width: 130px;
  --weight-width: 130px;
  --health-status-width: 130px;
  --owner-width: 200px;
  --toggle-more-details-width: 85px;

  display: block;
  position: relative;
  width: 100%;
  height: clamp(300px, 35vw, 750px);
  min-height: 50px;
  max-height: 758px;
  background-color: white;
  border: none;
  border-radius: 8px;
  padding: 1rem;
  padding-top: 1.5rem;
  margin-top: 20px;
  overflow: hidden;
  font-size: 0.9rem;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.276);
}

.swines-table__thead {
  display: flex;
  gap: var(--elements-gap);
  margin-bottom: 1rem;
  padding: 0 20px;
}

.swines-table__tbody {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  overflow-y: scroll;
  scrollbar-width: thin;
  min-height: 120px;
  height: clamp(300px, 30vw, 750px);
  background-color: rgb(250, 250, 250);
}

.swines-table__thead .th {
  font-weight: 600;
  text-align: left;
}

.swines-table__tbody .td{
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
  word-break: break-all;
}

.swines-table__tbody .swine{
  background-color: #dddddd;
  border-radius: 5px;
  padding: 0.8rem 20px;
}

.swines-table__tbody .swine__details{
  display: flex;
  align-items: center;
  gap: var(--elements-gap);
}

.swines-table__thead .th.type,
.swines-table__tbody .td.type {
  width: var(--type-width);
  max-width: var(--type-width);
}

.swines-table__thead .th.breed,
.swines-table__tbody .td.breed {
  width: var(--breed-width);
  max-width: var(--breed-width);
}

.swines-table__thead .th.age,
.swines-table__tbody .td.age {
  width: var(--age-width);
  max-width: var(--age-width);
}

.swines-table__thead .th.sex,
.swines-table__tbody .td.sex {
  width: var(--sex-width);
  max-width: var(--sex-width);
}

.swines-table__thead .th.weight,
.swines-table__tbody .td.weight {
  width: var(--weight-width);
  max-width: var(--weight-width);
}

.swines-table__thead .th.health-status,
.swines-table__tbody .td.health-status {
  width: var(--health-status-width);
  max-width: var(--health-status-width);
}

.swines-table__thead .th.owner,
.swines-table__tbody .td.owner {
  width: var(--owner-width);
  max-width: var(--owner-width);
}

.swines-table__thead .th.created-date,
.swines-table__tbody .td.created-date {
  width: var(--created-date-width);
  max-width: var(--created-date-width);
}

.swines-table__thead .th.updated-date,
.swines-table__tbody .td.updated-date {
  width: var(--updated-date-width);
  max-width: var(--updated-date-width);
}

.swines-table__thead .th.toggle-more-details-btn,
.swines-table__tbody .td.toggle-more-details-btn {
  width: var(--toggle-more-details-width);
  max-width: var(--toggle-more-details-width);
}

.swines-table__tbody .td.toggle-more-details-btn {
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.481);
  font-size: 0.85rem;
  font-weight: 500;
  background: transparent;
  padding: 3px 0;
  text-align: center;
  cursor: pointer;
  transition: ease 0.3s;
}
.swines-table__tbody .td.toggle-more-details-btn:hover {
  border: 1px solid #4154ff;
  background-color: #4154ff;
  color: white;
}

/* swine more details */
.swine__more-details{
  display: none;
  position: relative;
  padding-top: 1.7rem;
  height: 13rem;
}

.swine__more-details.show{
  display: block;
}

.swine__more-details-heading {
  font-size: 1.25rem; /* 20px -> 1.25rem */
  font-weight: 700;
  color: #009947;
  margin-bottom: 1.2rem;
}

.swine__more-details-columns {
  display: flex;
  column-gap: 13rem;
  margin-bottom: 2rem;
}

.swine__more-details-columns .column {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.column__detail-label {
  color: #009947;
  margin-right: 0.2rem;
}

.column__detail-value {
  color: rgba(0, 0, 0, 0.8);
}




/* Swines Mapping Content */
.swine-section__mapping-contents{
  display: none;
}

.swine-section__mapping-contents.show{
  display: block
}




/* Swines Report Content */
.swine-section__report-contents{
  display: none;
}

.swine-section__report-contents.show{
  display: block;
}



.report-contents__select-and-btn-container button,
.report-contents__select-and-btn-container .swine-section__select-month{
  width: 220px;
  border-radius: 8px;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
}

/* Donut Design */

.reports-content__select-year,
.reports-content__select-month {
  width: 150px;
}

/* .current-report-container {
  align-items: center;
} */

/* Chart ng Swine */
.current-doughnut-chart,
.record-pie-chart {
  margin-bottom: 2rem;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  
}

.past-report-container {
  margin-top: 4rem;
}

/* Tables */
.space {
  height: 4rem;
}

.apexcharts-legend-text{
  font-size: 1rem;
}

/* 
  Add Swine COntainer
*/
.add-swine-population-container {
  display: none;
}

.add-swine-population-container.show {
  display: block;
  display: 100%;
  margin-top: 40px;
  position: relative;
  border: 2px solid rgba(43, 43, 43, 0.376);
  box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.2);
  padding: 40px 25px;
  padding-bottom: 40px;
  border-radius: 6px;
  background-color: white;
}
.add-swine-population-container h3 {
  text-align: center;
}

.table-btn-container {
  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: flex-end;
}
.table-btn-container button {
  padding: .3rem 1.2rem;
  background-color: #009947;
  color: white;
  font-size: 1rem;
  border: 2px solid #00833d;
  border-radius: 4px;
  cursor: pointer;
}
.table-btn-container button:nth-child(2) {
  background-color: #ff5a5a;
  border: 2px solid #cc3939;
  color: #960000;
}

.highlight-row {
  background-color: #aad4ee9d;
  transition: background-color 0.2s ease;
}





/* ===================================================
   ============== Mapping Content ==============
   ===================================================
*/
.swine-section__mapping-contents{
  display: none;
  padding-bottom: 20px;
}

.swine-section__mapping-contents.show{
  display: block
}

.mapping-contents__buttons-container{
  position: absolute;
  top: 27px;
  right: 50px;
  display: flex;
  gap: 10px;
}

.mapping-contents__buttons-container button{
  border: none;
  background-color: #4154ff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 30px;
}

.mapping-contents__buttons-container button.active{
  background-color: #232c83;
}

.mapping-contents__show-add-swine-btn.active{
  background-color: #232c83;
}

.mapping-contents__wrapper{
  display: flex;
  gap: 50px;
  position: relative;
  border: 2px solid rgba(43, 43, 43, 0.376);
  box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  margin-top: 40px;
  padding: 60px 25px;
  padding-bottom: 40px;
}

.mapping-contents__wrapper-heading{
  position: absolute;
  top: 20px;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 16px;
}

/* ============== Map Wrapper============== */
.mapping-contents__map-wrapper{
  display: none;
}

.mapping-contents__map-wrapper.show{
  display: flex;
  align-items: center;
  justify-content: center;
}

.marinduque-map-container{
  position: relative;
  width: 750px;
  height: 560px;
}

.marinduque-map-container__full-map{
  height: 100%;
}

.marinduque-map-container__municipal-highlight{
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.municipal-highlight--swine-percent-population{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  color: #252525;
}

.municipal-highlight--municipan-name{
  position: absolute;
  top: 67%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  font-weight: 600;
  color: rgb(15, 15, 15);
}

.municipal-highlight--img{
  height: 100%;
  width: 100%;
}

/* mogpog hightlight */
.marinduque-map-container__mogpog-highlight{
  left: 224px;
  top: 92px;
  width: 220px;
  height: 180px;
}

.marinduque-map-container__mogpog-highlight .municipal-highlight--swine-percent-population{
  top: 55%;
  left: 50%;
}

.marinduque-map-container__mogpog-highlight .municipal-highlight--municipan-name{
  top: 67%;
  left: 50%;
}

/* boac hightlight */
.marinduque-map-container__boac-highlight{
  left: 225px;
  top: 279.9px;
  width: 290px;
  height: 300px;
  rotate: -1.2deg;
}

.marinduque-map-container__boac-highlight .municipal-highlight--swine-percent-population{
  top: 30%;
  left: 50%;
}

.marinduque-map-container__boac-highlight .municipal-highlight--municipan-name{
  top: 38%;
  left: 50%;
}

/* Gasan highlight */
.marinduque-map-container__gasan-highlight{
  left: 195px;
  top: 416.2px;
  width: 270px;
  height: 220px;
  rotate: 1.2deg;
}

.marinduque-map-container__gasan-highlight .municipal-highlight--swine-percent-population{
  top: 25%;
  left: 55%;
}

.marinduque-map-container__gasan-highlight .municipal-highlight--municipan-name{
  top: 35%;
  left: 55%;
}

/* Buenavista Highlight */
.marinduque-map-container__buenavista-highlight{
  left: 331.4px;
  top: 478.2px;
  width: 200.84px;
  height: 185.61px;
  rotate: 1.8deg;
}

.marinduque-map-container__buenavista-highlight .municipal-highlight--swine-percent-population{
  top: 32%;
  left: 45%;
}

.marinduque-map-container__buenavista-highlight .municipal-highlight--municipan-name{
  top: 42%;
  left: 45%;
}

/* Sta Cruz Highlight */
.marinduque-map-container__sta-cruz-highlight{
  left: 483.6px;
  top: 171.5px;
  width: 413.86px;
  height: 300.51px;
  rotate: -0.1deg;
}

.marinduque-map-container__sta-cruz-highlight .municipal-highlight--swine-percent-population{
  top: 49%;
  left: 39%;
}

.marinduque-map-container__sta-cruz-highlight .municipal-highlight--municipan-name{
  top: 57%;
  left: 39%;
}

/* Torrijos Highlight */
.marinduque-map-container__torrijos-highlight{
  left: 477.6px;
  top: 375.5px;
  width: 301.33px;
  height: 358.96px;
  rotate: 0.4deg;
}

.marinduque-map-container__torrijos-highlight .municipal-highlight--swine-percent-population{
  top: 45%;
  left: 39%;
}

.marinduque-map-container__torrijos-highlight .municipal-highlight--municipan-name{
  top: 53%;
  left: 39%;
}

/* ============== Swine Type Graph Wrapper ============== */
.mapping-contents__swine-type-graph-wrapper, 
.swine-population-table {
  display: none;
}
.mapping-contents__swine-type-graph-wrapper.show{
  display: flex;
  align-items: center;
  justify-content: center;
}

.swine-population-table.show{
  display: block;
  width: 100%;
  background-color: white;
  padding: 2rem 3rem;
  margin: 3rem 0;
  border: 2px solid rgba(43, 43, 43, 0.376);
  box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  
}

/* 
  Table Design
*/
table {
  width: 100%;
  margin: 20px auto;
  border-collapse: collapse;
  border: 1px solid black;
}
th, td {
  padding: 10px 15px;
  text-align: left;
  border: 1px solid black;
}
th {
  font-weight: bold;
  text-align: center;
}

.swine-population-table select,
#downloadSwinePopulationPDF,
#add-population-municipality {
  padding: .2rem .3rem;
  border-radius: 4px;
  width: 200px;
  margin-top: .5rem;
  border: 1px solid rgba(43, 43, 43, 0.376);
}

#downloadSwinePopulationPDF {
  background-color: #005026;
  color: white;
  cursor: pointer;
}
#add-population-municipality {
  text-align: left;
}

tr .td-brgy {
  text-align: left;
}
tr .header-brgy {
  text-align: left;
}

tr td {
  text-align: center;
}

td input {
  width: 100%;
  text-align: center;
}






.swine-types-list-nav{
  position: absolute;
  right: 100px;
  top: 27px;
  display: flex;
  gap: 40px;
}

.swine-types-list-nav__type{
  cursor: pointer;
  font-weight: 600;
}

.swine-types-list-nav__type.active{
  border-bottom: 3px solid var(--main-color);
}

.mapping-contents__swine-type-graph-wrapper #swine-type-chart,
.mapping-contents__swine-type-graph-wrapper .population-table-container{
  margin-top: 60px;
}

#swine-type-chart{
  max-width: 750px;
  max-height: 400px;
}

/* select swine status element */
.select-swine-status-container{
  background-color: #ffffff;
  padding: 20px 30px;
  padding-bottom: 30px;
  border-radius: 2px;
  margin-bottom: 40px;
  border: 2px solid rgba(43, 43, 43, 0.376);
}

.select-swine-status-container__heading{
  margin-bottom: 16px;
}

.select-swine-status-container select{
  width: 100%;
  padding: 8px;
  margin-bottom: 7px;
  border: 1px solid rgba(43, 43, 43, 0.376);
  border-radius: 2px;
  cursor: pointer;
}



/* Total population table */
.total-population-table__label{
  font-size: 1.1rem;
  margin-bottom: 4px;
}

.total-population-table{
  border: 1px solid black;
  width: 400px;
}

.total-population-table .th,
.total-population-table .td{
  position: relative;
  width: 100%;
  text-align: center;
  border: 1px solid black;
  padding: 10px 2px;
}

.total-population-table .th{
  font-weight: 600;
}

.total-population-table .td:first-child{
  --left-padding: 56px;

  text-align: left;
  width: calc(100% - var(--left-padding));
  padding-left: var(--left-padding);
}

.total-population-table__thead,
.total-population-table .municipality,
.total-population-table .total{
  display: flex;
}

.municipality-identifier{
  --size: 19px;

  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
  width: var(--size);
  height: var(--size);
  border: 1px solid black;
  border-radius: 50%;
}

.total-population-table .mogpog .municipality-identifier{
  background-color: #8FB2FF;
}
.total-population-table .boac .municipality-identifier{
  background-color: #66FFBD;
}
.total-population-table .gasan .municipality-identifier{
  background-color: #5CFF6F;
}
.total-population-table .buenavista .municipality-identifier{
  background-color: #FFFA5F;
}
.total-population-table .sta-cruz .municipality-identifier{
  background-color: #FE9D9D;
}
.total-population-table .torrijos .municipality-identifier{
  background-color: #FFD16F;
}

.total-population-table .total-label,
.total-population-table .total-value{
  background-color: var(--main-color);
  font-weight: 600
}


.marinduque-map-container__municipal-highlight {
  display: none;
}
.marinduque-map-container__municipal-highlight.hide {
  display: none;
}
.marinduque-map-container__municipal-highlight.show {
  display: block;
}

.municipality {
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.municipality:hover {
  background-color: #68acec59; /* light hover effect */
}


.table-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.table-pagination button {
  padding: 5px 10px;
  cursor: pointer;
}

/* 
position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
*/

/* .select-status-and-population-container,
.total-population-table {
  width: 400px;
} */

.list-of-barangay-affected {
  max-height: 200px;
  overflow: auto;
}

/* Target any scrollable container */
.list-of-barangay-affected::-webkit-scrollbar {
  width: 6px;        /* vertical scrollbar width */
  height: 6px;       /* horizontal scrollbar height */
}

.list-of-barangay-affected::-webkit-scrollbar-thumb {
  background: #b3b3b3;  /* scrollbar color */
  border-radius: 10px;
}

.list-of-barangay-affected::-webkit-scrollbar-track {
  background: #f0f0f0;
}

.list-of-barangay-affected.hide {
  display: none;
}
#ok-btn {
  padding: .2rem .3rem;
  margin-right: 2rem;
  color: #ffffff;
    background-color: #4154ff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.view-reports-btn {
  border: none;
  background-color: #4154ff;
  color: white;
}