.display-schedule-records {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
.display-schedule-records hr {
    margin-bottom: 1rem;
}

.past-events,
.today-events,
.upcoming-events
{
    width: 100%;
    background-color: white;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    flex-direction: column;
    max-height: 1000px;
    overflow-x: scroll;
    scrollbar-width: thin;
    padding: 2%;
}
.today-events .schedule-card,
.upcoming-events .schedule-card,
.past-events .schedule-card{
    border: 1.5px solid #4949495d;
}
.today-events__heading {
    color: var(--main-color);
}
.upcoming-events__heading {
    color: #000b70;
}
.past-events__heading {
    color: #313131;
}

.availability-container {
    width: 100%;
}

.schedule-card {
    border: none;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.200);
    border-radius: 4px;
    height: auto;
    width: 100%;padding: 1rem;
}
.schedule-card p {
    text-align: justify;
    margin-bottom: .5rem;
}
.schedule-card .schedule-heading {
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.set-availability__conatiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.availabilty-btn__container {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}
.availabilty-btn__container button {
    padding: .4rem 1rem;
    margin-top: 2rem;
    cursor: pointer;
    border: 1px solid #7e7e7e;
    border-radius: 4px;
    transition: ease .3s;
}
.availabilty-btn__container button:hover {
    border: 1px solid #0F7E43;
    background-color: #2FC375;
    color: white;
}

.availability-vet-schedule-form,
.availability-set__max-appointment {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    border-radius: 8px;
    border: 1px solid black;
    background-color: #ffffff;
    z-index: 100;
    display: none;
    flex-direction: column;
    gap: 1rem;
    width: 400px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.availability-vet-schedule-form h2,
.availability-set__max-appointment h2 {
    text-align: center;
}

.availability-vet-schedule-form.show,
.availability-set__max-appointment.show {
    display: flex;
}

.availability-overlay label {
    font-weight: 600;
}
.num-of-appointment {
    display: flex;
    align-items: center;
    gap: .2rem;
}
.max-appointment-text {
    font-weight: 600;
    color: #313131;
}

#max-appointment-num {
    font-size: 1.5rem;
    font-weight: 600;
}