/* ===================================================
   ============== Section Buttons ==============
   ===================================================
*/
.appointments-section__buttons-container{
  display: flex;
  gap: 15px;  
  margin-bottom: 10px;
}

.filter-appointments__select-tag {
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.filter-appointments__select-tag select {
  width: 200px;
  padding: .2rem .3rem;
  border-radius: 8px;
}

.appointments-section__buttons-container button {
  padding: 13px 14px;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.request-appointment-btn{
  color: white;
  background-color: #2FC375;
}

.go-to-schedules-section-btn{
  border: none;
  background-color: #4154ff;
  color: white;
}


/* ===================================================
   ============== Appointments Cards List ==============
   ===================================================
*/
.appointments-card-list.show{
  display: grid;
  row-gap: 25px;
  column-gap: 25px;
  padding-bottom: 25px;
}

.appointments-card-list.hide {
  display: none;
}


.appointment-card{
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  column-gap: 20px;
  background-color: rgb(244, 244, 244);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 15px 22px;
  padding-bottom: 25px;
}

.appointment-card__image-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 120px;
  gap: 15px;
  background-color: #474747;
  border-radius: 5px;
  padding: 16px 12px;
}

.appointment-card__image-container.accepted {
  background-color: #0f6593;
}

.appointment-card__image-container.completed {
  background-color: var(--main-color);
}

.appointment-card__image-container--img{
  --size: 50px;

  width: var(--size);
  max-width: var(--size);
  height: var(--size);
}

.appointment-card__image-container--label{
  color: white;
  text-align: center;
  font-weight: 600;
}

.appointment-card__toggle-more-details-btn {
  border: none;
  background: transparent;
  color: #0f6593;
  font-weight: 600;
  cursor: pointer;
  position: absolute; 
  right: 25px; 
  font-size: 0.95rem; 
  bottom: 10px;
}

.appointment-status {
  border: none;
  background: transparent;
  cursor: pointer;
  position: absolute; 
  font-size: 0.95rem; 
  bottom: 10px;
}



.appointment-card__detail{
  font-size: 0.95rem;
  margin-bottom: 8px;
}

.appointment-card__detail--label{
  font-weight: 600;
}

.appointment-card__detail--value{
  color: rgba(0, 0, 0, 0.718);
}

.appointment-card__more-details-container{
  display: none;
}

.appointment-card__more-details-container.show{
  display: block;
}


/* ===================================================
   ============== Request Appointment Form ==============
   ===================================================
*/
.request-appointment-form{
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  padding: 25px 25px;
  overflow-y: scroll;
  scrollbar-width: thin;
  z-index: 900;
}

.request-appointment-form.show{
  display: inline-block;
}

.request-appointment-form__back-btn{
  position: absolute;
  left: 20px;
  top: 20px;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(226, 69, 69);
  color: white;
  border-radius: 3px;
  padding: 4px 15px;
  cursor: pointer;
}

.request-appointment-form__back-btn--arrow{
  margin-right: 2px;
}

.request-appointment-form__heading{
  text-align: center;
  font-size: clamp(1.4rem, 4vw, 2rem);
  color: #2FC375;
  margin-bottom: 40px;
  margin-top: 50px;
}

.request-appointment-form__swines-list{
  --container-padding: 15px 15px;

  border: 1.3px solid rgba(0, 0, 0, 0.902);
  border-radius: 3px;
  margin-bottom: 40px;
}

.request-appointment-form__swines-list--header{
  background-color: #2FC375;
  color: white;
  padding: var(--container-padding);
}

.request-appointment-form__swines-list--grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 15px;
  column-gap: 15px;
  padding: var(--container-padding);
}

.request-appointment-form__swines-list--grid label{
  color: rgba(0, 0, 0, 0.8);
}

/* custom checkbox */
.request-appointment-form__swines-list input[type="checkbox"] {
  appearance: none;
  background-color: rgb(229, 229, 229);
  border: 1px solid #555;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  padding: 12px;
  margin-left: 2px;
}

.request-appointment-form__swines-list input[type="checkbox"]:checked {
  border-color: #4CAF50;
}

.request-appointment-form__swines-list input[type="checkbox"]:checked::after {
  content: '✔';
  color: #2FC375;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 19px;
}

.form-detail{
  margin-bottom: 25px;
  width: 100%;
}

.form-detail.clinical-signs {
  display: none;
}

.request-appointment-form .form-detail__label{
  display: block;
  font-weight: 500;
  margin-bottom: 7px;
}

.request-appointment-form .form-detail__value{
  border: 1px solid black;
  color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  width: 100%;
  padding: 10px 7px;
}

.form-detail #input-note{
  min-height: 100px;
}

.request-appointment-form__buttons-container{
  display: flex;
  justify-content: end;
  gap: 10px
}

.request-appointment-form__buttons-container button{
  padding: 9px 0;
  color: white;
  width: 130px;
  border: none;
  border-radius: 3px;
}

.request-appointment-form__submit-btn{
  background-color: #18a95c;
}


/* 
  Caledar Container
*/
.back-to-appointment-list-btn.hide {
  display: none;
}

.back-to-appointment-list-btn.show {
  display: block;
}

.client-schedule-container.hide {
  width: 100%;
  min-height: 600px;
  display: none;
}

.client-schedule-container.show {
  display: block;
}

.client-appointment-schedule {
  background-color: #2FC375;
}

.fc-theme-standard td, 
.fc-theme-standard th {
  border-color: black !important;
}


/* Clinical SIgns */

.client-side__clinical-signs {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 equal columns */
  gap: 8px 20px; /* row gap, col gap */
}

.client-side__clinical-signs .title {
  grid-column: span 2; /* title full width */
  margin-bottom: 5px;
  width: 100%;
}

.client-side__clinical-signs label {
  display: grid;
  grid-template-columns: 20px auto; /* checkbox column + text column */
  align-items: center;
  gap: 6px;
  font-size: 14px;
}
.client-side__clinical-signs .others label {
  text-align: left;
}
.clinical-signs-txtarea{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-top: 1rem;
}
.client-side__clinical-signs-others {
  height: 100px;
}

.client-side__clinical-signs .others input[type="text"] {
  flex: 1;
  padding: 4px 6px;
  font-size: 14px;
}



/* No Appointment CSS */
.no-appointments {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 20%;
  transform: translate(-50%, 50%);
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  color: #555555;
}

.highlighted-txt {
  font-size: 1.3rem;
  font-weight: 800;
}

/* 
Upload Swine image
*/
.image-input-field__clinical-sign {
  padding: 1rem;
  border: 1px solid black;
  border-radius: 4px;
  margin-top: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.image-input-field__clinical-sign label {
  width: 100%;
  cursor: pointer;
}

.uploaded-image__clinical-sign {
  position: relative;              /* ✅ Needed for .image-count positioning */
  display: inline-block;
  width: 60px;                     /* Adjust as needed */
  height: 60px;
  margin-left: 0.5rem;
}

.uploaded-image__clinical-sign img {
  border: 1px solid #80808098;
  border-radius: 8px;
  width: 50px;
  height: 50px;
  object-fit: cover;
  filter: grayscale(60%) brightness(0.9); /* Slightly gray effect */
}

/* 
For clinical signs pop-up
*/
.form-detail__clinical-signs {
  position: relative;
}

/* Overlay Background */
.clinical-signs-overlay {
  position: fixed; /* covers whole screen */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* dark transparent background */
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999; /* on top of everything */
}

/* Popup container */
.popUp-image__clinical-sign-container {
  width: 300px;
  height: 300px;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1000;
}

.clinical-signs-overlay.show {
  display: flex;
}

/* Close Button */
.hide-btn__clinical-sign {
  position: absolute;
  top: 6px;
  right: 6px;
  border: none;
  background-color: #006931;
  color: white;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.hide-btn__clinical-sign:hover {
  background-color: #004d24;
}


/* 
Calendar overlay
*/

.calendar-overlay {
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;
  background: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  z-index: 999;

  display: none; /* hidden by default */
}

.calendar-overlay.show {
  display: flex; /* show + center content */
}

.pop-up__calendar-tasks {
  background: #fff;
  border-radius: 10px;
  width: auto;
  max-height: 80vh;
  overflow-y: auto;
  padding: 3rem 2rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
  position: relative;
}
.pop-up__calendar-tasks hr {
  margin-bottom: 1rem;
}

.close-calendar-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #006931;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 6px 10px;
  cursor: pointer;
}
.current-clicked-date {
  margin-bottom: .8rem;
}

.request-appointment-btn__calendar {
  background-color: #2FC375;
  border: none;
  color: #ffffff;
  width: 100%;
  margin-top: 1rem;
}
.request-appointment-btn__calendar {
  padding: .2rem .5rem;
  border-radius: 4px;
}


/* Target the scrollable container inside FullCalendar */

/* Day Header Cells (Sun, Mon, Tue...) */
.fc .fc-col-header-cell {
  outline: 1px solid #4e4e4e;
  outline-offset: -1px;
  background-color: black;
  color: white
}

/* Day Header Text Styling */
.fc-col-header-cell-cushion {
  font-weight: 600;
}

/* Body Cell */
.fc-scrollgrid-sync-inner {
  padding: 10px 0;
}

/* Day Cells (each date box) border */
.fc .fc-daygrid-day {
  border: 1px solid #3a3a3a;
}

/* Inner Frame of Day Cells */
.fc .fc-daygrid-day-frame {
  padding: 10px;
}

/* Date Number (1, 2, 3...) in day cell */
.fc-daygrid-day-number {
  font-weight: 600;
}

/*  Event Styling */
.fc-event {
  color: white;
  border-radius: 5px;
  border: none;
  padding: 5px;
  margin-bottom: 2px;
  cursor: pointer;
}


.fc .custom-event {
  display: flex !important;
  gap: 3px;
  justify-content: center !important;
  flex-direction: column !important;
  font-size: 0.8rem;
  width: 155px;
  padding: 8px 6px !important;
  border-radius: 3px;
  word-break: break-word;
  white-space: normal;
  overflow-wrap: break-word;
}

.fc .custom-event.appointment-type-service{
  background-color: #208323 !important;
}
.fc .custom-event.appointment-type-visit{
  background-color: #1e6794 !important;
}
.fc-h-event{
  background-color: #b8aa45 !important;
} 

.fc .custom-event .label{
  font-weight: 600;
}


.fc-daygrid-event-dot{
  display: none;
}

/* Event Title Text */
.fc-event-title {
  font-size: 0.85rem;
}


@media(min-width: 500px){
  .request-appointment-form .form-group-detail{
    display: flex;
    width: 100%;
    column-gap: 20px;
  }
}

@media(min-width: 700px){
  .request-appointment-form{
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: clamp(650px, 50vw, 700px);
    height: clamp(520px, 40vw, 600px);
    border-radius: 5px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.493);
    padding: 25px 35px;
  }

  .request-appointment-form__swines-list--grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


@media(min-width: 800px){
  .appointments-card-list{
    grid-template-columns: 1fr 1fr;
  }

  .appointment-card{
    padding: 15px 25px;
    padding-bottom: 50px;
  }
}


@media(min-width: 1170px){
  .appointments-card-list{
    grid-template-columns: 1fr 1fr 1fr;
  }

  .popUp-image__clinical-sign-container {
    width: 650px;
    height: 650px;
  }
}

