#swines-section .section__heading{
  font-size: clamp(1.15rem, 4vw, 2rem);
}

.show-add-swine-form-btn{
  position: absolute;
  top: 23px;
  right: 4.5%;
  font-size: clamp(1rem, 2vw, 1.2rem);
  border: none;
  background-color: #17a75a;
  color: white;
  border-radius: 5px;
  padding: 8px 30px;
  cursor: pointer;
}

/* ===================================================
   ============== Swine Cards List ==============
   ===================================================
*/
.swines-card-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  row-gap: 23px;
  column-gap: 20px;
  margin-top: 50px;
  padding-bottom: 15px;
}

.swine-card{
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 7px 15px;
  overflow: hidden;
  cursor: pointer;
}
.go-to-schedules-section-btn.hide {
  display: none;
}

.swine-card__image{
  --size: 65px;

  width: var(--size);
  max-width: var(--size);
  height: var(--size);
  border-radius: 50px;
  margin-right: 16px;
}

.swine-card__swine-info{
  display: flex;
  flex-direction: column;
  gap: 2px;
  color: #2FC375;
}

.swine-card__id{
  font-weight: 600;
  font-size: 1.1rem;
}

.swine-card__delete-btn{
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.5);
  margin-left: auto;
  margin-right: 10px;
  cursor: auto;
  z-index: 8;
}

/* ===================================================
   ============== Swine Health Status Coloring ==============
   ===================================================
*/
.swine-card.healthy .swine-card__status{
  color: #2FC375;
}

.swine-card.deceased .swine-card__status{
  color: #c32f2f;
}

.swine-card.sick .swine-card__status{
  color: #c38f2f;
}

.swine-card.pregnant .swine-card__status{
  color: #1d0808;
}


/* ===================================================
   ============== Add Swine Form ==============
   ===================================================
*/
.add-swine-form{
  display: none;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: var(--header-height);
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-radius: 5px;
  padding-inline: 23px;
  padding-top: 50px;
  padding-bottom: 20px;
  overflow-y: scroll;
  z-index: 100;
}

.add-swine-form.show{
  display: flex;
}

.add-swine-form__back-btn{
  position: absolute;
  left: 20px;
  top: 13px;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(226, 69, 69);
  color: white;
  border-radius: 3px;
  padding: 4px 15px;
  cursor: pointer;
}

.add-swine-form__back-btn--arrow{
  margin-right: 2px;
}

.add-swine-form__heading{
  margin-bottom: 20px;
}


.add-swine-form__swine-img{
  --size: 95px;

  width: var(--size);
  max-width: var(--size);
  height: var(--size);
  border-radius: 50px;
  margin-bottom: 25px;
}

.add-swine-form__info-label{
  display: block;
  width: 100%;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: left;
  margin-bottom: 15px;
}

.add-swine-form__info{
  display: grid;
  grid-template-columns: 1fr;
  gap: 13px;
  text-align: left;
  width: 100%;
}

.add-swine-form__info .label-txt{
  display: inline-block;
  font-weight: 500;
  margin-bottom: 3px;
  color: rgba(0, 0, 0, 0.541);
}

.add-swine-form__info input, 
.add-swine-form__info select{
  border: 1px solid rgba(0, 0, 0, 0.825);
  border-radius: 5px;
  width: 100%;
  padding: 7px 5px;
}

.add-swine-form__info > div:nth-child(1),
.add-swine-form__info > div:nth-child(2) {
  grid-column: span 1;
}

.add-swine-form__create-btn{
  padding: 6px 0;
  width: 40%;
  border-radius: 3px;
  color: white;
  background-color: #2FC375;
  border: 1px solid white;
  margin-top: 30px;
  margin-left: auto;
}


/* ===================================================
   ============== Swine Full Info ==============
   ===================================================
*/
.swines-full-info{
  display: none;
  display: none;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: var(--header-height);
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-radius: 5px;
  padding-inline: 23px;
  padding-top: 50px;
  padding-bottom: 20px;
  overflow-y: scroll;
  scrollbar-width: thin;
  z-index: 900;
}

.swines-full-info .medical-history__container{
  width: 100%;
  padding: .5rem .3rem;
  margin-top: 1rem;
}
.swine-medical__history-list {
  line-height: 1.2rem;
}

.swines-full-info .medical-history__container.hide {
  display: none;
}
.swines-full-info .medical-history__container.show {
  display: block;
}
.medical-history__container h3 {
  text-align: center;
  margin-bottom: .5rem;
}
.swine-medical__history-list hr{
  margin: .5rem 0rem;
}


.swines-full-info.show{
  display: flex;
}

.swines-full-info__back-btn{
  position: absolute;
  left: 20px;
  top: 13px;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(226, 69, 69);
  color: white;
  border-radius: 3px;
  padding: 4px 15px;
  cursor: pointer;
}

.swines-full-info__back-btn--arrow{
  margin-right: 2px;
}

.swines-full-info__heading{
  margin-bottom: 10px;
}

.swines-full-info__swine-img{
  --size: 95px;

  width: var(--size);
  max-width: var(--size);
  height: var(--size);
  border-radius: 50px;
  margin-bottom: 20px;
}


.swine-full-info__details-label-btn-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  padding-right: 5px;
}

.swines-full-info__edit-btn{
  color: #17a75a;
  font-weight: 600;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.swines-full-info__info-label{
  display: block;
  width: 100%;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: left;
}

.swines-full-info__details{
  display: grid;
  grid-template-columns: 1fr;
  gap: 13px;
  text-align: left;
  width: 100%;
}

.swines-full-info__details .detail {
  width: 100%;
}

.swines-full-info__details .detail:nth-child(2),
.swines-full-info__details .detail:nth-child(3) {
  grid-column: span 1;
}

.swines-full-info__details .detail:not(:nth-child(2)):not(:nth-child(3)) {
  grid-column: span 2;
}

.swines-full-info__details .detail-label{
  display: inline-block;
  font-weight: 500;
  margin-bottom: 3px;
  color: rgba(0, 0, 0, 0.541);
}

.swines-full-info__details .detail-value{
  border: 1px solid rgba(0, 0, 0, 0.86);
  border-radius: 4px;
  width: 100%;
  padding: 8px 5px;
}

.swines-full-info .buttons-container{
  justify-content: center;
  gap: 10px;
  margin-top: 40px;
  width: 100%;
}

.swines-full-info .buttons-container button{
  padding: 6px 0;
  width: 40%;
  border-radius: 3px;
  color: white;
  border: 1px solid white;
}

.swines-full-info__cancel-btn{
  border: 1px solid black;
  background-color: rgb(191, 31, 31);
}

.swines-full-info__save-btn{
  background-color: #2FC375;
}


/* ===================================================
   ============== Swine Full Info: View Mode ==============
   ===================================================
*/
.swines-full-info.view-mode input,
.swines-full-info.view-mode select{
  pointer-events: none;

  /* drowpdown hide */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent; 
}

.swines-full-info.view-mode select{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent; 
}

.swines-full-info.edit-mode .swines-full-info__edit-btn{
  display: none;
}

.swines-full-info.view-mode .buttons-container{
  display: none;
}

/* ===================================================
   ============== Swine Full Info: Edit Mode ==============
   ===================================================
*/
.swines-full-info.edit-mode input,
.swines-full-info.edit-mode select{
  pointer-events: auto;
}

.swines-full-info.edit-mode select{
   appearance: auto;
  -webkit-appearance: auto;
  -moz-appearance: auto;
  background: initial;
}

.swines-full-info.edit-mode .swines-full-info__edit-btn{
  display: none;
}

.swines-full-info.edit-mode .buttons-container{
  display: flex;
}




@media(width >= 500px){
  .add-swine-form__info {
    grid-template-columns: 1fr 1fr;
  }

  .add-swine-form__info > div {
    grid-column: span 1; 
  }

  .swines-full-info__details {
    grid-template-columns: repeat(2, 1fr);
  }

  .swines-full-info__details .detail {
    grid-column: span 1 !important;
  }
}

@media(width >= 700px){
  .add-swine-form,
  .swines-full-info{
    width: clamp(600px, 40vw, 750px);
    height: clamp(550px, 37vw, 580px);
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgba(0, 0, 0, 0.555);
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.501);
    z-index: 1000;
  }
}

@media(width >= 800px){
  .show-add-swine-form-btn{
    top: 33px;
    padding: 10px 40px;
  }
}