header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
  background-color: var(--main-color);
  padding: 0 3rem;
  overflow: hidden;
}

.header__swine-logo{
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-right: 60rem;
}

.header__swine-logo-img{
  --logo-img-size: 33px;

  width: var(--logo-img-size);
  height: var(--logo-img-size);
  border-radius: 3px;
}

.header__swine-logo-label{
  white-space: nowrap;
  font-weight: 600;
  font-size: 1rem;
  color: var(--primary-color);
}

.header__view-website-btn{
  color: white;
  font-size: 1rem;
  font-weight: 600;
  padding-right: 3rem;
}

.header__toggle-side-nav-icon{
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin-right: 3rem;
}

.header__toggle-side-nav-icon .line{
  height: 4px;
  width: 32px;
  background-color: white;
}

header .admin-profile{
  display: flex;
  gap: 0.6rem;
  align-items: center;
  margin-right: 1.5rem;
}

header .admin-profile__pic{
  --admin-pic-size: 36px;

  height: var(--admin-pic-size);
  width: var(--admin-pic-size);
  border-radius: 30px;
}

header .admin-profile__label{
  font-weight: 600;
  color: white;
}

.header__arrow-down-icon{
  --arrow-down-size: 18px;

  width: var(--arrow-down-size);
  height: var(--arrow-down-size);
  margin-right: 2rem;
  cursor: pointer;
}
