@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --main-color: #0F7E43;
  --primary-color: #FFFFFF;
  --secondary-color: #241F20;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li{
  list-style: none;
}

img{
  width: 100%;
}

a{
  text-decoration: none;
}

html{
  height: 100%;
  scrollbar-width: thin;
}

body{
  --header-height: 60px;

  font-family: "Poppins", sans-serif;
  background-color: #D2D2D2; 
  overflow-x: hidden; 
}

.sections-wrapper{
  padding-left: var(--sidenav-width);
}

section{
  --section-side-spacing: 120px;

  position: relative;
  margin-left: 80px;
  padding: 0 3rem;
  margin-top: var(--header-height);
}

@media(width <= 600px){
  section{
    margin-left: 20px;
    padding-right: 20px;
  }
}

section.hide{
  display: none;
}

section.show{
  display: block;
}

.section__heading{
  color: black;
  font-size: 1.5rem;
  padding-top: 1.7rem;
  margin: 0;
}

select{
  appearance: none; /* Removes default arrow */
  -webkit-appearance: none; /* For Safari */
  -moz-appearance: none; /* For Firefox */

  /* Custom dropdown icon */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="%23000000" d="M7 10l5 5 5-5H7z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 3px center;
  background-size: clamp(20px, 6vw, 25px) ;
}


/* Reports contents global styling */
.report-contents__btns-container{
  position: absolute;
  right: 55px;
  top: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px
}

.report-contents__btns-container button{
  padding: 10px 0;
  width: 160px;
  border-radius: 5px;
  cursor: pointer;
}

.reports-content__back-table-btn{
  border: 1px solid black;
  background-color: white;
}

.reports-content__download-report-btn{
  background-color: #2FC375;
  color: white;
  border: 1px solid #0F7E43;
}


.report-contents__select-container{
  display: flex;
  gap: 30px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.report-contents__select-container .label-txt{
  font-weight: 600;
  margin-right: 3px;
}

.report-contents__select-container select{
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.reports-content__select-year{
  width: 90px;
}

.reports-content__select-month{
  width: 130px;
}


/* Report Container */
#swines-section .report-container{
  display: none;
  margin-top: 60px;
}

#swines-section .report-container.show{
  display: block;
}

.report-container__month{
  color: #0F7E43;
  margin-bottom: 5px;
}

.report-container__caption{
  opacity: 0.7;
  font-size: 1.3rem;
}


