header{
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--header-height); /* nasa global.css yung variable neto */
  background-color: var(--main-color);
  padding: 0 2.5%;
  z-index: 10
}

.header__swine-logo{
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.header__swine-logo-img{
  --logo-img-size: 33px;

  width: var(--logo-img-size);
  height: var(--logo-img-size);
  border-radius: 3px;
}

.header__swine-logo-label{
  white-space: nowrap;
  font-weight: 600;
  font-size: 1rem;
  color: var(--primary-color);
}


/*this view-website-btn is in login page header only */
.header__view-website-btn{
  color: white;
  font-size: 1rem;
  font-weight: 600;
  padding-right:0rem;
  margin-left: 1100px;
}

.header__toggle-side-nav-icon{
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin-right: 2rem;
  cursor: pointer;
}

.header__toggle-side-nav-icon .line{
  height: 3px;
  width: 30px;
  background-color: white;
}

.header__notification{
  position: relative;
  margin-left: auto;
  margin-right: 25px;
  cursor: pointer;
}

.header__notification-icon{
  color: white;
}

.header__notification-label{
  position: absolute;
  color: rgb(255, 0, 0);
  top: -10px;
  right: -5px
}

.header__admin-profile{
  display: flex;
  gap: 0.6rem;
  align-items: center;
  width: fit-content;
  margin-right: 2rem;
}

.header__admin-profile-pic{
  --admin-pic-size: 32px;

  height: var(--admin-pic-size);
  width: var(--admin-pic-size);
  border-radius: 30px;
}

.header__admin-profile-label{
  font-size: 0.9rem;
  font-weight: 600;
  color: white;
  margin-right: 1px;
}

.header__toggle-logout-btn{
  font-size: 0.6rem;
  color: white;
  cursor: pointer;
}

.header__logout-btn{
  display: none;
  position: absolute;
  bottom: -12px;
  right: 25px;
  background-color: red;
  color: white;
  padding: 4px 22px;
  font-weight: 600;
  border-radius: 3px;
  border: 1px solid rgb(255, 255, 255);
  cursor: pointer;
}

.header__logout-btn.show{
  display: block;
}


/* Kapag ang width ay mas mababa */
@media (width <= 600px) {
  header{
    padding: 0 0.9rem;
  }

  .header__toggle-side-nav-icon{
    margin-right: 1.2rem;
  }

  .header__notification{
    margin-right: 20px;
  }

  .header__toggle-logout-btn{
    display: none;
  }

  .header__admin-profile{
    margin-right: 0rem;
  }

  .header__admin-profile-label{
    display: none;
  }
}